<html>

<body style="margin:0px">
    <div style="width:600px;background-color: #fff6f1;font-family: sans-serif;color: #0000;">
        <img href="#" src="http://wohlig.co.in/stylease/img/Layer-1.png">
        <div>
                   <p style="font-size: 13px;padding: 0px 20px 0px 20px;"> 
       
          Your new password for the Stylease website is: <b> <%= content%> </b>.</p>
       <p style="font-size: 13px;padding: 0px 20px 0px 20px;"> Please note that this is a system generated password which will remain valid for 3 hours only. Kindly change it to something you would be more comfortable remembering at the earliest.
        </p>
      
            <h3 style="font-size: 15px;padding: 0px 20px 0px 20px;">Happy Styling!</h3>
            <p style="font-size: 13px; padding: 0px 20px 0px 20px;">- Team TheStylease.com</p>
        </div>
        <table style="width: 100%;background-color: #e87b66;font-size: 14px;">
            <tr>
                <td style="padding: 4px 18px;"> &copy; ALL RIGHTS RESVERED</td>
                <td style="text-align: center;    padding: 4px 0px;">
                    <span style="margin-right: 7px;">Follow us on</span>
                    <span><a href="https://www.facebook.com/thestylease/?ref=ts&fref=ts" target="_blank"><img style="width: 17px;margin: 0px 2px -4px;" src="http://wohlig.co.in/stylease/img/facebook.png"></a></span>
                    <span><a href="https://mobile.twitter.com/thestylease" target="_blank"><img style="width: 17px;margin: 0px 2px -4px;" src="http://wohlig.co.in/stylease/img/twitter.png"></a></span>
                    <span><a href="https://www.instagram.com/thestylease/" target="_blank"><img style="width: 17px;margin: 0px 2px -4px;" src="http://wohlig.co.in/stylease/img/instagram.png"></a></span>
                    <span><a href="https://www.pinterest.com/thestylease/" target="_blank"><img style="width: 17px;margin: 0px 2px -4px;" src="http://wohlig.co.in/stylease/img/pinterest.png"></a></span>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>