<html>

<head>
    <title>mailer</title>

    <!-- <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet'> -->

    <script src='https://use.fontawesome.com/a7ccd15346.js'></script>

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            width: 600px;
        }

        .sign-up {
            font-family: 'Gotham';
            color: #c46c5d;
            font-size: 22.92px;
            font-weight: 700;
            line-height: 29.167px;
            margin: 30px 30px;
        }

        .content {
            font-family: 'Gotham';
            color: #2c2d3d;
            font-size: 14.58px;
            font-weight: 300;
            line-height: 29.167px;
            text-align: left;
            margin-left: 30px;
            margin-right: 30px;
            margin-bottom: 30px;
        }

        .footer {
            background-color: #e87b65;
            width: 600px;
            height: 24px;
            font-family: 'Gotham';
            color: #2c2d3d;
            font-size: 12.5px;
            font-weight: 300;
            line-height: 29.167px;
            text-align: left;
        }

        .footer p {
            display: inline-block;
            margin-left: 30px;
        }

        .footer span {
            display: inline-block;
            float: right;
            margin-right: 15px;
            margin-top: -3px;
        }
        .footer img{
          height :14px;

        }
        .icons{
          display: inline-block;
          float: right;
          margin-right: 30px;
        }
    </style>
</head>




<body>
    <div class=''>
        <img src='../assets/images/Layer-1.png' alt='' />
    </div>

    <div class='sign-up'>
        SIGN UP
    </div>



    <div class='content'>
        <h3>Hello there!</h3> <br>

        <p>
            Thank you for signing up with Stylease.com, the ultimate Indian wardrobe partner. <br> Stay updated with the latest trends and fashions, discounts and more.
        </p>
    </div>

    <div class='footer'>
        <p>
            www.TheStylease.com
        </p>




        <div class='icons'>
            <a href=''><img src='../assets/images/facebook.png' alt='' /></a>
            <a href=''><img src='../assets/images/twitter.png' alt='' /></a>
            <a href=''><img src='../assets/images/instagram.png' alt='' /></a>
            <a href=''><img src='../assets/images/pinterest.png' alt='' /></a>
        </div>
        <span>
              Follow us on
            </span>

    </div>


</body>

</html>
